@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

@layer base {
    body {
        @apply font-[Lato]
    }
}

@layer components {
    .card {
        @apply bg-blue-600 h-48 flex-1 rounded-lg relative overflow-hidden;
    }

    .card::before {
        content: '';
        @apply bg-indigo-900 h-64 w-2/3 absolute rounded-r-full;
    }

    .card::after {
        content: '';
        @apply bg-cyan-300 h-48 w-48 -top-24 -right-20 absolute rounded-full;
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
}